.home{
    background-color: rgb(199, 199, 199);
    width: auto;
    height: 95vh;
    margin-top: -26px;
    
}

.all-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#peeve-pic {
    display: flex;
    position: relative;
    margin: -20px auto 20px;
    padding: 0 auto;
}

#top-peeve-title{
    padding: 15px;
    font-size: 40px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

