nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    font-size: 20px;
    height: 25px;
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}

a:hover{
    color: #0088a9;
}

.hello {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}
.hello:hover {
    color: #0088a9;
}

@media screen and (max-width: 425px) {
    nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 45px;
    }
}