#user-post-box{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 15px;
}

#users-post{
    background-color: brown;
    margin-top: 5px;
    border-radius: 15px;

}
