#user-profile-body{
    background-color: rgb(199, 199, 199);
    width: auto;
    height: 95vh;

}

.user-profile-posts{
    background-color: rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
    align-items: center;

}

#my-peeves-h3{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}